* {
    margin: 0;
}

section {
    background-color: rgb(159, 160, 164);
    height: 1200px;
    
}

a{
    color: cyan;
}
h1{
    color: purple;
}
ol{
    color: darkcyan;
}
p a{
    color: white;
}