header h1 {
    float: left;
    font-family: 'Crete Round', serif;
    margin-left: 20%;
}

nav ul li {
    display: inline-block;
    font-size: small;
    text-align: right;
    font-family: dejaVu sans mono, monospace;
}

ul {
    float: right;
}

span {
    color: orange;
}

.dessous {
    clear: both;
}

#section1 {
    background-image: url(../../images/Travel_Agency/main.jpg);
    width: 2000px;
    height: 697px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section p {
    text-align: center;
    font-size: 3em;
    padding-top: 10%;
}

section button {
    background-color: rgb(255, 122, 0);
    display: block;
    margin: auto;
    font-size: x-large;
    border-radius: 5px;
    color: white;
}

#tableau1 {
    border-spacing: 10px;
    margin: 0 auto;
    text-align: center;
}

#section2 {
    background-color: rgb(239, 239, 239);
    width: 2000px;
    height: 296px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

blockquote {
    font-style: italic
}

.button {
    font-size: small;
}

#article1 {
    background-repeat: no-repeat;
    border-radius: 10px;
    float: left;
    width: 346px;
    height: 203px;
    background-image: url(../../../assets/images/Travel_Agency/article-image-1.jpg);
    background-size: cover;
}

#article2 {
    background-repeat: no-repeat;
    border-radius: 10px;
    float: left;
    width: 346px;
    height: 203px;
    background-image: url(../../../assets/images/Travel_Agency/article-image-2.jpg);
    background-size: cover;
}

label {
    font-weight: bold;
}

article h2 {
    text-align: center;
}

article p {
    text-align: center;
    font-size: small;
}

form {
    text-align: center;
}

form button {
    background-color: rgb(2, 184, 221);
    color: white;
    border-radius: 3px;
}

.ligne {
    width: 350px;
    border-bottom: 1px solid rgb(2, 184, 221);
    height: 2px;
    display: block;
    margin: auto;
}

footer {
    background-color: rgb(68, 68, 68);
    width: 2000px;
    height: 200px;
}

footer h2 {
    font-family: 'Crete Round', serif;
    color: white;
    text-align: center;
}

footer p {
    color: lightgray;
    text-align: center;
}