nav>ul>li {
    
    display:inline-block;
    font-size: x-small;
    text-align: right;   
}
ul{
    float: right;
}
header>h2{
    float: left;
}


.dessous
{
    clear: both;
}
section{
    background-image: url(../../images/Travel_Agency/main.jpg);
    width: 2000px;    
    height: 697px;
    
}

section>button{
    background-color: orange;
    display: block;
    margin: auto; 
    font-size: x-large;
}
section>p{
    text-align: center;
    font-size: 5em;
}
#image2{
    text-align: center;
}
#image3{
    text-align: right;
}
