nav>ul>li {
    
    display:inline-block;
    font-size: small;
    text-align: right;   
    font-family: dejaVu sans mono, monospace;
    
    
}
ul{
    float: right;
    
}
header>h1{
    float: left;
    font-family: 'Crete Round', serif;
}


.dessous
{
    clear: both;
}
section{
    background-image: url(../../images/Travel_Agency/main.jpg);
    width: 2000px;    
    height: 697px;
    font-family: dejaVu sans mono, monospace;
    
}
div{
    background-color: rgb(239,239,239);
    width: 2000px;
    height: 296px;
}

section>button{
    background-color:rgb(255, 122, 0);
    display: block;
    margin: auto; 
    font-size: x-large;
    border-radius: 10px;
}
section>p{
    text-align: center;
    font-size: 5em;
}
#tableau1{
    border-spacing: 10px;
    margin: 0 auto;
    
}
section>td{
    width: 666.66px;
    
}


blockquote{
    font-style: italic
}
button{
    background-color:rgb(255, 122, 0);
    color: white;
    
    border-radius: 10px;
}
label{
    font-weight: bold;
}
footer{
    background-color: rgb(68, 68, 68);
    width: 2000px;
    height: 200px;    

}
footer>h2{
    font-family: 'Crete Round', serif;
    color: white;
    text-align: center;
}
footer>p{
    color: lightgray;
    text-align: center;
}
article>h2{
    text-align: center;
}
article>p{
    text-align: center;
    font-size: small;
}
form{
    text-align: center;
}
form>button{
    background-color: rgb(2,184,221);
    color: white;
    border-radius: 10px;
    
}

.ligne{
    width: 350px;
    border-bottom: 1px solid rgb(2, 184, 221);
    height: 2px;
  
    display: block;
    margin: auto;
    
}
span{
    color: orange;
}

table{
    background-color: rgb(249, 252, 253);
    border-radius: 10px;  
    text-align: center;
}

.ligne2{
    width: 50px;
    border-bottom: 1px solid rgb(221, 221, 221)
}

#image1{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#article1{
    float: right;
}

